{% extends 'base.html' %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}
{% comment %} <h2 class="text-center">{% trans "LIST OF QUIZZES" %}</h2> {% endcomment %}
{% if quiz_list %}

{% for quiz in quiz_list %}
<div class="card" style="width: 18rem;">
	<img src="static/ora.jpg" class="card-img-top" alt="...">
	<div class="card-body">
		<h5 class="card-title">{{ quiz.title }}</h5>
		<p class="card-text"> <strong>SUBJECT</strong>-{{ quiz.category }}</p>
		<a href="{% url 'quiz_start_page' slug=quiz.url %}" class="btn btn-primary">ATTEMPT</a>
	</div>
</div>
<!-- <div id="omsai" class="center">
	<p class="ram"><strong>NAME OF THE QUIZ</strong>
		<p /> {{ quiz.title }}
		<br>
	<p class="ram"><strong>CATEGORY</strong>
		<p />{{ quiz.category }}
		<br>
	<p class="ram"><strong>DATE</strong>
		<p />{% now "jS \o\f F" %}
		<br>
		{% comment %} {% trans "Exam" %}-{{ quiz.exam_paper }} {% endcomment %}
		{% comment %} <br> {% endcomment %}
	<p class="ram"><strong>SINGLE ATTEMPT</strong>
	<p>{{ quiz.single_attempt }}
		<br>
		{% questions as questions %}
	<p class="ram"><strong>NO.OF QUESTIONS</strong>
	<p>{{ questions }}
		<br>
		<a id="y" href="{% url 'quiz_start_page' slug=quiz.url %}">
			{% trans "View details" %}
		</a>
</div> -->


{% endfor %}




{% else %}
<p>{% trans "There are no available quizzes" %} </p>
{% endif %}
{% endblock %}