{% extends 'base.html' %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}
{% comment %} <h2 class="text-center">{% trans "LIST OF QUIZZES" %}</h2> {% endcomment %}
<style>
body{
	background-color: white;
}
</style>
<!-- <div class="container4"> -->
{% if quiz_list %}
<div class="container4">
{% for quiz in quiz_list %}
<div class="card dg" style="width: 18rem;">
	<div class="card-body mbsa">
		<h5 class="card-title text-center">{{ quiz.title }}</h5>
		<p class="card-text text-center"> <strong>SUBJECT</strong>-{{ quiz.subject }}</p>
		{% questions as questions %}
	    <p class="card-text text-center"><strong>NO.OF QUESTIONS</strong>-{{ questions }}</p>
		<a href="{% url 'quiz_start_page' slug=quiz.url %}" class="btn btn-primary center mn">ATTEMPT</a>
	</div>
</div>
<!-- <div id="omsai" class="center">
	<p class="ram"><strong>NAME OF THE QUIZ</strong>
		<p /> {{ quiz.title }}
		<br>
	<p class="ram"><strong>CATEGORY</strong>
		<p />{{ quiz.category }}
		<br>
	<p class="ram"><strong>DATE</strong>
		<p />{% now "jS \o\f F" %}
		<br>
		{% comment %} {% trans "Exam" %}-{{ quiz.exam_paper }} {% endcomment %}
		{% comment %} <br> {% endcomment %}
	<p class="ram"><strong>SINGLE ATTEMPT</strong>
	<p>{{ quiz.single_attempt }}
		<br>
		{% questions as questions %}
	<p class="ram"><strong>NO.OF QUESTIONS</strong>
	<p>{{ questions }}
		<br>
		<a id="y" href="{% url 'quiz_start_page' slug=quiz.url %}">
			{% trans "View details" %}
		</a>
</div> -->


{% endfor %}
</div>



{% else %}
<p>{% trans "There are no available quizzes" %} </p>
{% endif %}
<!-- </div> -->
{% endblock %}